/absolute .html
/allign.html
/background.html
/centre vertical.html
/cristiano.html
/css.html
/demo.html
/external.html
/fixed.html
/float.html
/HOME WORK.html
/js.html
/lab2.html
/left right align.html
/media query.html
/nnnn.html
/pract.html
/practice.html
/relative.html
/ronaldo.html
/script.js
/static.html
/sticky.html
/TASK.html
/text allign centre.html